[Unit]
Description=ekspor-frontend
After=ekspor-backend.service
Requires=ekspor-backend.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

ExecStartPre=-/bin/bash -c "/usr/bin/docker login \
    -e=\".\" -u=\"topicusonderwijs+fleet\" -p=\"$(etcdctl get /credentials/quay)\" quay.io && \
    /usr/bin/docker pull quay.io/topicusonderwijs/ekspor-frontend:latest"

ExecStartPre=-/usr/bin/docker rm "ekspor-frontend-0"
ExecStart=/usr/bin/docker run --name "ekspor-frontend-0" \
    -p 5700:80 \
    --link ekspor-backend-0:backend \
    quay.io/topicusonderwijs/ekspor-frontend:latest

ExecStop=/usr/bin/docker stop "ekspor-frontend-0"
Restart=always
RestartSec=60

[X-Fleet]
MachineOf=ekspor-backend.service
