[Unit]
Description=ekspor-backend

# before first deploy, insert a GitHub OAuth key for accessing the topicusonderwijs repos
# etcdctl set /credentials/github_oauth <key>

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

ExecStartPre=-/bin/bash -c "/usr/bin/docker login \
    -e=\".\" -u=\"topicusonderwijs+fleet\" -p=\"$(etcdctl get /credentials/quay)\" quay.io && \
    /usr/bin/docker pull quay.io/topicusonderwijs/ekspor-backend:latest"

ExecStartPre=-/usr/bin/docker rm -f "ekspor-backend-0"
ExecStart=/bin/bash -c "/usr/bin/docker run --name \"ekspor-backend-0\" \
    -e GITHUB_OAUTH=\"$(etcdctl get /credentials/github_oauth)\" \
    -m=\"500m\" \
    quay.io/topicusonderwijs/ekspor-backend:latest"

ExecStop=/usr/bin/docker stop "ekspor-backend-0"
Restart=always
RestartSec=60

[X-Fleet]
MachineMetadata=name=coreos6
